body{
	background-image: url(daun.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 20px;
}
.content{
	width: 80%;
  background-color: tan;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;

a:link{
	color:black;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

a:active {
  color: brown;
}
